/* Stylesheet for Pluto Plants */
@font-face {
    font-family: blambot;
    src: url(BlambotProRegular.ttf);
  }

html, body {
    margin: 0;
    height: 100%;
}
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
.releasedate{
    font-family: blambot;
    color:#6c0c4b;
    font-size: 20px;
    text-align: center;
}
.miniLogo{
    width: 5%;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.center{
    display: flex;
    flex-direction: column;
    justify-content: center; 
}